requests~=2.32.3
pydantic~=2.11.2
elevenlabs~=1.56.0
python-dotenv~=1.1.0
chainlit~=2.4.400
langchain-core~=0.3.51
langgraph~=0.3.25
protobuf~=5.29.4
google-genai

langchain-community~=0.3.21
langchain~=0.3.23
matplotlib~=3.10.1
seaborn~=0.13.2
pandas~=2.2.3
duckduckgo_search~=8.0.0
beautifulsoup4~=4.13.3
openai~=1.72.0
asyncpg~=0.30.0
boto3~=1.37.30
langchain-openai~=0.3.12
langchain-anthropic~=0.3.10
langchain-google-genai~=2.1.2
bcrypt~=4.3.0
chardet~=5.2.0
sympy~=1.13.3
numpy~=2.2.4
scipy~=1.15.2